<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a post | LostLetter</title>
    <link rel="stylesheet" href="/css/makeYourPost.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include("partials/loader") %>
    <%- include("partials/line__gradient") %>
        <%- include("partials/main") %>
            <div class="container">
                <form action="" method="post">
                    <div class="container__form">
                        <h1>Edita tu blog</h1>
                        <label for="">Titulo</label>
                        <% if(dataPost){ %> 
                        <input type="text" name="title" id="" placeholder="Escribe el titulo" value="<%= dataPost[0].title %>">
                        <div class="content__flex">
                            <label for="">¿Dejar en anonimo el autor?</label>
                            <select name="anonymity" id="" value="<%= dataPost[0].anonymity == 0 ? 'false' : 'true' %>">
                                <option value="false">No</option>
                                <option value="true">Sí</option>
                            </select>
                        </div>
                    </div>
                    <div class="container__form__two">
                        <h1>Contenido</h1>
                        <textarea name="content" id="" cols="30" rows="10" placeholder="Escribe el contenido"><%= dataPost[0].content %>
                        </textarea>
                        <% } %> 
                        <input type="submit" value="Guardar cambios" class="btn">
                    </div>
                </form>
            </div>
            <script src="/js/loader.js"></script>
            <script defer src="js/main.js"></script>
</body>

</html>